In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to change the path if needed.)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read the School Data and Student Data and store into a Pandas DataFrame
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

# Cleaning Student Names and Replacing Substrings in a Python String
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

# Iterate through the words in the "prefixes_suffixes" list and replace them with an empty space, "".
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

# Check names.
student_data_df.head()

C:\Users\rhutc\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:18: FutureWarning: The default value of regex will change from True to False in a future version.

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,Unnamed: 7,Read,Math
0,0,Paul Bradley,M,9th,Huang High School,66,79,NaN,81.87784,78.985371
1,1,Victor Smith,M,12th,Huang High School,94,61,NaN,NaN,NaN
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,NaN,NaN,NaN
3,3,Richard Scott,M,12th,Huang High School,67,58,NaN,NaN,NaN
4,4,Bonnie Ray,F,9th,Huang High School,97,84,NaN,NaN,NaN

In [2]:
student_data_df.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'Unnamed: 7', 'Read', 'Math'],
      dtype='object')

In [3]:
# Install numpy using conda install numpy or pip install numpy. 
# Step 1. Import numpy as np.
import numpy as np

In [4]:
# Step 2. Use the loc method on the student_data_df to select all the reading scores from the 9th grade at Thomas High School and replace them with NaN.
student_data_df.loc[(student_data_df["school_name"]=="Thomas High School") & (student_data_df["grade"]=="9th") ,"reading_score" ]=np.nan

In [5]:
#  Step 3. Refactor the code in Step 2 to replace the math scores with NaN.

student_data_df.loc[(student_data_df["school_name"]=="Thomas High School") & (student_data_df["grade"]=="9th") ,"math_score" ]=np.nan

In [6]:
#  Step 4. Check the student data for NaN's. 

student_data_df.tail(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,Unnamed: 7,Read,Math
39160,39160,Katie Weaver,F,11th,Thomas High School,89.0,86.0,NaN,NaN,NaN
39161,39161,April Reyes,F,10th,Thomas High School,70.0,84.0,NaN,NaN,NaN
39162,39162,Derek Weeks,M,12th,Thomas High School,94.0,77.0,NaN,NaN,NaN
39163,39163,John Reese,M,11th,Thomas High School,90.0,75.0,NaN,NaN,NaN
39164,39164,Joseph Anthony,M,9th,Thomas High School,NaN,NaN,NaN,NaN,NaN
39165,39165,Donna Howard,F,12th,Thomas High School,99.0,90.0,NaN,NaN,NaN
39166,39166,Dawn Bell,F,10th,Thomas High School,95.0,70.0,NaN,NaN,NaN
39167,39167,Rebecca Tanner,F,9th,Thomas High School,NaN,NaN,NaN,NaN,NaN
39168,39168,Desiree Kidd,F,10th,Thomas High School,99.0,90.0,NaN,NaN,NaN
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95.0,75.0,NaN,NaN,NaN

In [7]:
# Step 1 Create student summary and import pandas dependency.
import pandas as pd

In [8]:
# Load CSV files for students and schools
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [9]:
# Read the school data
school_data_complete_df = pd.read_csv(school_data_to_load)
school_data_complete_df

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [10]:
# read the school data
student_data_df_complete = pd.read_csv(student_data_to_load)
student_data_df_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,Unnamed: 7,Read,Math
0,0,Paul Bradley,M,9th,Huang High School,66,79,NaN,81.87784,78.985371
1,1,Victor Smith,M,12th,Huang High School,94,61,NaN,NaN,NaN
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,NaN,NaN,NaN
3,3,Richard Scott,M,12th,Huang High School,67,58,NaN,NaN,NaN
4,4,Bonnie Ray,F,9th,Huang High School,97,84,NaN,NaN,NaN

In [11]:
# Combine the data into a single dataset
school_data_complete_df = pd.merge(student_data_df_complete, school_data_complete_df, how="left", on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,Unnamed: 7,Read,Math,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,NaN,81.87784,78.985371,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,NaN,NaN,NaN,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,NaN,NaN,NaN,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,67,58,NaN,NaN,NaN,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,NaN,NaN,NaN,0,District,2917,1910635

In [12]:
# 1. Get the number of students that are in ninth grade at Thomas High School.

ninth_THS_count = school_data_complete_df.loc[(school_data_complete_df["school_name"]=="Thomas High School") & (school_data_complete_df["grade"]=="9th"),"Student ID"].count()
ninth_THS_count

461

In [13]:
# Get the total student count
student_count = school_data_complete_df["Student ID"].count()
student_count

39170

In [14]:
# Get the total school count
school_count = school_data_df["school_name"].count()
school_count

15

In [15]:
# In Step 2, subtract the number of students retrieved from Step 1 from the total student count to get the new total student count.

new_student_count = student_count - ninth_THS_count
new_student_count

38709

In [16]:
# In Step 3, calculate the math passing percentages based on the new total student count

passing_math_count = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)].count()["student_name"]
passing_math_count

29370

In [17]:
# In Step 3, calculate the reading passing percentages based on the new total student count

passing_reading_count = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)].count()["student_name"]
passing_reading_count

33610

In [22]:
# Percent that passed reading
passing_reading_percentage = passing_reading_count / float(student_count) * 100
# Percent that passed math
passing_math_percentage = passing_math_count / float(student_count) * 100

In [28]:
reading_percentage = "{:.2%}".format(passing_reading_percentage)
print(reading_percentage)

math_percentage = "{:.2%}".format(passing_math_percentage)
print(math_percentage)

21.91%
19.14%

In [24]:
# Calculate the students who passed both math and reading.
passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]

passing_math_reading.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,Unnamed: 7,Read,Math,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,NaN,NaN,NaN,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,NaN,NaN,NaN,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,NaN,NaN,NaN,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,NaN,NaN,NaN,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,NaN,NaN,NaN,0,District,2917,1910635

In [25]:
# Calculate the number of students who passed both math and reading.
overall_passing_math_reading_count = passing_math_reading["student_name"].count()
overall_passing_math_reading_count

25528

In [26]:
# In Step 4, calculate the overall passing percentage with the new total student count

overall_passing_percentage = overall_passing_math_reading_count / new_student_count * 100
overall_passing_percentage

65.94848743186338

In [27]:
# Adding a list of values with keys to create a new DataFrame.
district_summary_df = pd.DataFrame(
    [{"Total Schools": school_count,
     "Total Students": new_student_count,
     "Total Budget": total_budget,
     "Average Math Score": average_math_score,
     "Average Reading Score": average_reading_score,
     "% Passing Math": passing_math_percentage,
     "% Passing Reading": passing_reading_percentage,
     "% Overall Passing": overall_passing_percentage}])
district_summary_df

NameError: name 'total_budget' is not defined